/* RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   border: none;
   text-decoration: none;
   outline: none;
   text-align: none;
}

/* variables */
:root {
   --white: #eee;
   --light-gray: #a3a3a3;
   --gray: #181818;
   --medium-gray: #252525;
   --dark-gray: #141414;
   --black: #000000;
   --orange: #f17f1a;
   --gradient: linear-gradient(to right, #0c0f3d, #912e43);
}

/* TAGS */
html {
   font-size: 62.5%;
}

body {
   position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: serif;
   font-weight: bold;
   text-shadow: 0 0 1px;
   text-transform: uppercase;
}

p {
   font-size: 1.8rem;
   text-shadow: 0 0 1px;
   text-align: center;
   font-family: sans-serif;
}

/* GLOBAL CLASS */
.container {
   width: 85vw;
   margin: auto;
}

.container--90 {
   width: 90vw;
   margin: auto;
}

.hidden {
   display: none;
}

.title--small {
   font-size: 2.5rem;
}

.title--normal {
   font-size: 3rem;
}

.title--large {
   font-size: 4rem;
   padding: 50px 0;
}

.text--center {
   text-align: center;
}

.text--left {
   text-align: left;
}

.text--white {
   color: var(--white);
}

.text--orange {
   color: var(--orange);
}

.text--upper {
   text-transform: uppercase;
}

.text--bold {
   font-weight: bold;
}

.button {
   border-radius: 5px;
   box-shadow: 0 0 1px;
   cursor: pointer;
   transition: all ease-out .4s;
   height: 50px;
   padding: 0 30px;
}

.button:hover {
   transform: scale(1.1);
}

.button--white {
   background-color: transparent;
   border: 2px solid white;
   color: white;
}

.input {
   background-color: transparent;
   border: 2px solid white;
   height: 50px;
   padding: 0 20px;
   color: white;
   width: 100%;
}

.input--bad {
   border: 2px solid red;
}

.background--transparent {
   background-color: transparent;
}

.background--orange {
   background-color: var(--orange);
}

.scale {
   transition: all ease-out .5s;
}

.scale:hover {
   transform: scale(1.1);
}

.icon--small {
   width: 20px;
   height: 20px;
}

.icon {
   width: 50px;
}

.icon--large {
   width: 80px;
}

/* HEADER */
.header {}


/* MENU TOP */
.menu-top {
   background-color: var(--gray);
   height: 40px;
   width: 100%;
}

.menu-top div {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.menu-top--position {
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
}

.menu-top__link {}

.menu-top__link .icon--small {
   margin: 10px;
   color: white;
   border-radius: 50%;
   transition: all ease-out .5s;
}

.menu-top__link .icon--small:hover {
   background-color: var(--orange);
}

/* MENU BOTTOM */
.menu {
   background-color: var(--black);
   height: 60px;
}

.menu--display {
   display: flex;
   align-items: center;
}

.menu--display--fixed {
   position: fixed;
   top: 0;
}

.menu__list {
   display: flex;
   align-items: center;
   justify-content: left;
}

.menu__item {}

.menu__item--logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu__item--text .menu__link:hover {
   color: var(--orange);
}

.menu__link {
   padding: 10px;
   color: white;
   font-size: 1.2rem;
   text-transform: uppercase;
}

.menu__link--logo {
   font-size: 3rem;
   padding: 0 30px;
}

.button__icon {
   width: 25px;
   height: 25px;
}

.menu__button {
   background-color: transparent;
   border-radius: 50%;
   padding: 5px;
}

.menu__button--open {
   display: none;
}

.menu__button--close {}


/* SIDE BAR */
.side-bar__icon {
   display: inline-flex;
   flex-direction: column;
   gap: 5px;
   cursor: pointer;
   transition: all ease-out .5s;
   padding-right: 10px;
   border-radius: 50%;
}

.side-bar__icon:hover {
   gap: 8px;
}

.side-bar__circle {
   width: 3px;
   height: 3px;
   background-color: white;
   transition: all ease-out .5s;
}

.side-bar__icon:hover .side-bar__circle {
   background-color: var(--orange);
}


/* ASIDE */
.aside {
   width: fit-content;
   background-color: var(--black);
   float: left;
   padding: 30px;
   padding-top: 0px;
   position: sticky;
   z-index: 1000;
   top: 40px;
   left: 0;
}

.aside--grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 7fr 4fr;
   gap: 20px;
   grid-template-areas:
      "icon icon"
      "top top"
      "left right";
}

.aside__button {
   width: 100%;
   grid-area: icon;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   background-color: transparent;
   cursor: pointer;
}

.aside__button__icon {
   width: 20px;
   transition: all ease-out .5s;
}

.aside__button__icon:hover {
   transform: scale(1.5);
}


.aside__container--normal {}

.aside__container--top {
   grid-area: top;
   height: 300px;
}

.aside__container--left {
   grid-area: left;
}

.aside__container--right {
   grid-area: right;

}

.link__battlefield {
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
}

.link__battlefield--1 {
   background-image: url(img/link--battlefield---1.jpg);
}

.link__battlefield--4 {
   background-image: url(img/link--battlefield---4.png);
}

.link__battlefield--5 {
   background-image: url(img/link--battlefield---5.jpg);
}

.link__battlefield h3 {
   color: var(--white);
   text-shadow: 5px 5px 5px black;
   text-align: center;
}

.aside .link__battlefield:hover .title {
   transform: scale(1.5);
}

.aside .title {
   font-size: clamp(1.5rem, 1.8rem, 2.1rem);
   transition: all ease-out .5s;
}


/* MAIN */
.main {}

.main__background__mobile {
   display: none;
}

.main__background {
   background-image: url(img/wallpaper--desktop---battlefield.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
   padding: 75px;
}

.main__conteiner {
   width: 40vw;
   min-width: 400px;

   display: flex;
   flex-direction: column;
   gap: 20px;
}

.main__container img {
   width: 100%;
}

.main__container__button {
   width: 100%;
}

.main__container__button .button {
   margin: auto;
   display: block;
}


.main__footer {
   width: 100%;
   background: var(--gradient);
   padding: 15px 0px;
}

.main__footer__contents {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.main-footer__div {
   display: flex;
   align-items: center;
}

.main-footer__div img {
   width: 200px;
}

/* BOXIES */
.boxies {
   background-color: var(--black);
   padding: 50px 0;
}

.boxies h1:first-of-type {
   padding-top: 0;
}

.boxies__container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-template-rows: auto;
   grid-auto-flow: row;
   justify-content: space-evenly;
   align-content: center;
   justify-items: center;
   align-items: center;
   gap: 20px;
}

.boxies__content {
   width: 100%;
   height: calc((90vw)/3);
   position: relative;
   background-color: var(--orange);
}

.boxies__battle .boxies__content:hover h3 {
   transform: scale(1.2);
}

.boxies__content h3 {
   z-index: 2;
   position: absolute;
}

.boxies .button {
   display: block;
   margin: 50px auto;
}

.link__battlefield__text {
   position: absolute;
   z-index: 2;
   background-color: red;
}


/* NEWS */
.news__container {
   grid-template-columns: repeat(auto-fit, minmax(30 0px, 1fr));
   grid-template-rows: 1fr;
}

.news__container p,
.news__container h2 {
   color: black;
}

.news__content {
   background-color: rgba(255, 255, 255, 0.932);
   height: 100%;
   transition: all ease-out .5s;
}

.news__content:hover {
   transform: translateY(-20px);
}

.news__content h3 {
   position: static;
}

.news__content:focus {
   border: 3px solid black;
   outline: 3px solid white;
}

.news__image {
   display: block;
   width: 100%;
}

.news__text {
   padding: 15px;
}

.news__dates {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.news__game-name {
   color: var(--orange);
   display: inline-block;
   font-size: clamp(1.6rem, 1.8rem, 2rem);
}

.news__date {
   display: inline-block;
   font-size: 2rem;
}

.news__title {
   margin: 15px 0;
}

.news__info {
   text-align: left;
}


/* button */
.button__container {
   margin: 70px auto;
}

.button__container__contets {
   background-color: transparent;
   border: 2px solid lightslategray;
   padding: 20px;
   width: 100%;
   cursor: pointer;
   border-radius: 5px;
   transition: all ease-out .3s;
}

.button__container__contets:hover {
   border: 2px solid white;
}

.button__container__contets:hover h2 {
   color: var(--white);
   text-shadow: 0px 0px 1px white;
}

.button__container__contets h2 {
   color: var(--light-gray);
   transition: all ease-out .4s;
}

.button__container__contets:hover .button__container__icon {
   transform: scale(1.1);
   border: 2px solid white;
}

.button__container__icon {
   border: 2px solid lightslategray;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin: 0 auto 20px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all ease-out .3s;
}

.button__container__icon img {
   width: 35px;
   height: 35px;
}


/* FORM */
.form {
   background-color: var(--black);
}

.form__container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-auto-rows: auto;
   justify-self: start;
   gap: 25px;
}

.form__text h1 {
   padding-top: 0;
}

.form__inputs {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   gap: 20px;
   grid-area:
      "email email"
      "nasc pais";
}

.form__input-email {
   grid-area: 1 / 1 / 1 / 3;
}

.form__input-nasc {
   grid-area: 2 / 1 / 2 / 2;

}

.form__input-select {
   grid-area: 2 / 2 / 2 / 3;
}

.container__checkbox {
   grid-area: 3 / 1 / 3/ 3;
   display: flex;
   align-items: flex-start;
   gap: 20px;
   padding: 20px 0;
}

.checkbox__icon {
   padding: 3px;
   background-color: transparent;
   border: 2px solid white;
   cursor: pointer;
}

.checkbox__icon--disabled {
   border: 2px solid red;
}

.checked__icon {
   background-color: transparent;
   padding: 7px;
   transition: all ease-out.4s;
}

.checked--active {
   background-color: white;
}

.container__checkbox label {
   color: white;
   font-size: 2rem;
}

.container__checkbox label a {
   color: var(--orange);
}

.checkbox {
   cursor: pointer;
   width: 35px;
   height: 35px;
}


/* TERMS */
.terms {
   padding: 50px 0;
   background-color: var(--black);
}

.terms p {
   text-align: left;
}

.terms p a {
   color: var(--orange);
}

/* FOOTER */
footer {
   background-color: var(--medium-gray);
}

.footer__menu-social {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 40px 0 0 0;
   border-bottom: 1px solid var(--light-gray);
}

.footer__menu {
   text-align: left;
}

.footer__menu__list {}

.footer__menu__item {
   display: inline-block;
   padding: 15px;
   font-size: 1.8rem;
   text-transform: capitalize;
}

.footer__menu__item:first-of-type {
   padding-left: 0;
}

.footer__menu__item:last-of-type {
   padding-right: 0;
}

.footer__menu__link {
   color: var(--light-gray);
   transition: all ease-out .2s;
}

.footer__menu__link:hover {
   color: var(--orange);
}

.footer__socials {
   text-align: right;
}

.footer__menu__icon {
   width: 20px;
   height: 20px;
}

.classifications__container {
   margin: 20px auto 0;
   padding-bottom: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
}

.classifications__container p {
   font-size: 1.6rem;
   color: var(--light-gray);
}

.partners__container {}

.partners__icons__container {
   display: flex;
   gap: 40px;
   align-items: center;
   margin-bottom: 30px;
}

.partners__icons {}

.age-restriction {
   position: absolute;
   display: block;
   right: 0;
   padding: 5px;
   background-color: red;
   width: fit-content;
   border-radius: 10px;
   display: flex;
   text-align: center;
   justify-content: center;
   border: 2px solid white;
}

.age-restriction h2 {
   margin: 0;
   padding: 0;
   font-size: 5rem;
   line-height: 5rem;
}






@media screen and (max-width: 1024px) {
   .menu {
      padding: 0 15px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
   }

   .menu__button--open {
      display: inline-flex;
   }

   .menu__list .menu__link--logo {
      padding: 0 0 0 15px;
   }

   .menu__list--mobile {
      height: 100vh;
      position: fixed;
      top: 40px;
      left: 0;
      background-color: var(--black);
      padding: 15px 0;
   }

   .menu__list--mobile .menu__link--logo {
      padding: 0 15px;
   }

   .menu__list--mobile .button {
      margin: 0 15px 0 35px;
   }

   .menu__list--mobile .menu__item--text {
      padding: 15px 0px;
      display: block;
      border-bottom: 2px solid white;
      width: 90%;
      margin: auto;
   }

   .menu__list--mobile .menu__item--text .menu__link {
      padding: 0;
   }

   .menu__list .menu__item--text {
      display: none;
   }

   .side-bar__icon {
      display: none;
   }

   .aside {
      display: none;
   }

   .main__background {
      display: contents;
   }

   .main__background__mobile {
      display: block;
      height: 50vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(img/wallpaper--mobile---battlefield.jpg);
   }

   .main__conteiner {
      width: 100%;
      background-color: var(--gray);
      padding: 50px;
   }

   .main__logo {
      display: none;
   }

   .boxies__content {
      height: auto;
      background-position: top;
   }

   .link__battlefield {
      height: 60vw;
   }

   .form__container {}

   .form__text h1 {
      font-size: 3rem;
   }

   .footer__menu {
      border-bottom: 1px solid var(--light-gray);
   }

   .footer__menu__item {
      padding: 20px 15px;
   }

   .footer__menu .footer__menu__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
   }

   .footer__menu .footer__menu__item {
      padding: 20px 0;
   }

   .footer__menu-social {
      display: block;
      padding: 40px 0 10px 0;
   }

   .footer__socials {
      text-align: left;
      padding-top: 40px;
   }

   .classifications__container {
      position: static;
      display: block;
   }


   .age-restriction {
      position: static;
      margin-top: 40px;
   }

}

@media screen and (max-width: 500px) {

   button {
      width: 100%;
   }

   .main__conteiner {
      padding: 25px;
      min-width: auto;

   }

   .main__footer {
      padding: 25px 0;
   }

   .main-footer__div {
      width: 100%;
   }

   .main__footer__contents,
   .main-footer__div {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }

   .main__footer__contents h2 {
      text-align: center;
   }

   .boxies__content {
      height: 90vw;
   }

   .news__content {
      height: auto;
   }

   .news__content:hover {
      transform: translateY(-10px);
   }

   .news__image {
      display: none;
   }

   .news__dates {
      flex-direction: column;
   }

   .news__game-name,
   .news__date,
   .news__text h2 {
      font-size: 2rem;
      text-align: center;
      text-transform: none;
      line-height: 30px;
   }

   .news__info {
      display: none;
   }

   .container__buton-more {
      margin-top: 20px;
   }

   .form__text h1 {
      font-size: 2.5rem;
      padding: 20px 0;
   }

   .form__text p {
      line-height: 30px;
   }

   .form__inputs {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .form__inputs .input {
      width: 100%;
      display: block;
   }

   .partners__icons__container {
      justify-content: space-between;
      gap: 0;
   }

}